<!DOCTYPE html>

<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E shop</title>
    <link href="style.css" rel="stylesheet" />
    <link href="css/glider.min.css" rel="stylesheet" />
</head>

<body>
        <header class="header"></header>

            <div class="middle-nav-text">
                <h1>Hello! You in Postgre SQL Demo App</h1>
                <a href="/index/auth">Click here for authorize</a>
            </div>

        <div class="footer-nav"></div>
</body>
</html>